<h1>User Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<div>
  		<label><b>Name:</b></label>
  		<%= @user.name %>
  	</div>
  	<div>
  		<label><b>Email:</b></label>
 			<%= @user.email %>
  	</div>  					
 </div>
</div>