<h1><%= @user.name %>'s Profile</h1>

<div class="row">
	<div class="col-sm-12">

		<div class="image-wrapper">
			<%= image_tag(@user.avatar) %>
		</div>
		<br />

		<div class="profile-wrapper big-text">

			<div class="big-text">
				<label><b>Name:</b></label>
				<%= @user.name %>
			</div>

			<div>
				<label><b>Email:</b></label>
				<%= @user.email %>
			</div>  				

		</div>
	</div>
</div>