<div class="row">
  <% stories = Story.all%>
  <% stories.each do |story| %>
      <article class="news-item">
        <h3><%= story.title %></h3>
        <div class="image-wrapper">
          <img src="<%= story.image %>" alt="">
        </div>
        <p>
          <%= story.content %>
        </p>
        <div class="clearfix"></div>
      </article>
  <% end %>
</div>
