<h1>Editing Topic</h1>

<% if current_user.try(:admin?) || current_user?(@forum.user) %>
	<%= render 'form' %>
<% else flash.now[:danger] = 'You dont have access!'%>  
<% end %>

<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>
