/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    background-color: #5187AE;
    background-color: #CCCCCC;
}

#main-wrapper{
    background-color: #fff;
}

.navbar-default{
    padding: 0px;
}


.clearfix{
    display: block;
    clear: both;
}

.margin-right{
    margin-right: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
    background-color: #EEEEEE!important;
}

nav li {
    float: left;
}

/*--------------------*/

#inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

.dropdown li {
    width: 100%;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.navbar-brand img{
    width: 185px;
    height: 50px!important;
}

.language-bar{
    padding-top: 15px;
}

.language-bar a {
    padding: 5px;
}

.language-bar img{
    width: 20px;
    height: 15px;
}

/*================= MAIN CONTENT + ASIDE ====================== */

#main-wrapper {

    margin-top: 80px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #EEEEEE;
    
    /*==== MAIN ====*/

    #middle{
        background-color: #EEEEEE;
    }    

}


/*===== ASIDE =====*/



.recent-item{
    background-color: #FFF;
    border-bottom: 5px solid #306491;
    position: relative;
    display: block;
    clear: both;
    right: -15px;
    width: 110%;
    box-shadow: -5px 5px 5px #888888;
    margin-bottom: 40px;
    padding: 5px;
}

.recent-item h3{
    margin: 5px;
}

.corner{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: -23px;
    border-top: 20px solid #244C6E;
    border-right: 20px solid transparent;
}

.recent-item:hover {
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    // box-shadow: 0px 5px 5px #306491;

}

.recent-item:hover .corner{
    display: none;
}

/*========================== FOOTER ===============================*/

footer {
    background-color: #ccc;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    text-align: left;
}

footer #social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

footer #social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

footer .social-fb:hover {
    color: #3B5998;
}

footer .social-tw:hover {
    color: #4099FF;
}

footer .social-gp:hover {
    color: #d34836;
}

footer .social-em:hover {
    color: #f39c12;
}

footer #rights {
    margin-top: 15px;
}

footer #contacts{
    margin-top: 15px;
}

footer .underline {
    text-decoration: underline;
}