// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-field{
  display: inline-block;
  width: 85%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


article{
  border-bottom: 1px dotted #797979;
  margin: 10px;
  text-align: justify;

  .content-wrapper{
    margin: 15px;
    display: block;
    height: 160px;
    overflow: hidden;
  }

  .image-controls-wrapper{
    float: left;

    .image-wrapper{
      width: 200px;
      height: 120px;
      margin: 5px 20px;
      overflow: hidden;
      border: 1px solid black;

      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .controls-wrapper{
      margin: 0 22px;
    }
  }

  .image-wrapper{
    width: 80%;
    height: 250px;
    margin: 5px auto;
    overflow: hidden;
    border: 1px solid black;

    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

}

