// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {	
	font-family: 'Lato', sans-serif;
	padding: 2em 5%;
	padding-top: 0;
	.post {
		position: relative;
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				text-decoration: none;
				font-weight: 400;
			}
		}
		.date {
			display: block;
			margin-top: .25rem;
			color: #adadad;
		}
	}
	.custom-btn1 {
		position: absolute;
		top: 55px;
		right: 0px;
		
	}
	.custom-btn2 {
		position: absolute;
		top: 55px;
		right: 60px;
	}
}

#post_content {
	font-family: 'Lato', sans-serif;
	padding: 2em 5%;
	h1 {
		color: #428bca;
		font-weight: 400;
		font-size: 2.5em;
		margin-top: 0;
	}
	p {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		line-height: 1.5;
	}
	#comments {
		h2 {
			font-size: 1.5em;
			color: #B2BAC2;
		}
		.comment {
			border-bottom: 1px solid #d1d1d1;
			font-weight: 400;
			padding-bottom: 1em;
			margin-bottom: 1em;
			position: relative;
			text-align: justify;		
			.content {
				width: 75%;
				float: left;
			}			
			#btn-one {
				position:absolute;
				top: 10px;
				right: 0px;
				
			}
			#btn-two {
				position:absolute;
				top: 10px;
				right: 60px;
			}
			.comment_content {
				font-family: 'Lato', sans-serif;
				font-weight: 400;				
				margin: 0;
				padding: 0;
			}
			.comment_author {
				font-family: 'Lato', sans-serif;
				color: #397CAC;
				margin-top: .5rem;
				font-weight: 400;
			}
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}
}

