.comment.clearfix
	.content
		%p.comment_content= forum_comment.comment
		%p.comment_author= forum_comment.user.name
	.buttons
		= link_to "Edit", edit_forum_forum_comment_path(forum_comment.forum, forum_comment)
		= link_to "Delete", [forum_comment.forum, forum_comment], method: :delete, data: { confirm: "Are you sure?" }