- if current_user.try(:admin?) || current_user?(@comment.user)
	%h1 Edit Reply

	= form_for([@forum, @comment]) do |f|
		= f.text_area :comment
		= f.submit 'Submit', :class => 'btn btn-primary'
- else flash.now[:danger] = 'You dont have access!'		
